<form class="">
  <h1 class="h3 mb-3 font-weight-normal">Russet your Password</h1>

  <label for="inputPassword" class="sr-only">New Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="New Password" required>

  <label for="inputConfirmPassword" class="sr-only">Confrim Password</label>
  <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required >

  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

  <p><a (click)="onBackToLoginClick()" class="mt-5 mb-3">Back to Login</a></p>
</form>